@model IEnumerable<Category>

@{
    ViewBag.PageTitle = "category managment";
    ViewBag.CardTitle = "view categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>
    <a class="btn btn-primary" href="Category/Create">Create New Category</a>
</div>

<br />

<table class="table table-hover w-100">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
    
            <td>@category.Name </td>
            <td>@category.Description </td>
            <td>@category.CreatedAt</td>
            <td>
                <a class="btn btn-info" href="Category/Edit/@category.Id">Edit</a>
                <a class="btn btn-danger" href="Category/Delete/@category.Id">Delete</a>
            </td>
        </tr>
    }
</table>